@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Bebas+Neue&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@font-face { font-family: 'Oswald'; font-style: regular; font-weight: 400; src: url("./fonts/Oswald-VariableFont_wght.ttf") format('truetype'); }
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: #000000;
  background: var(--background);
  font-family: Oswald, Helvetica, sans-serif;
  font-weight: 400;
  font-size: larger;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
