@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Bebas+Neue&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@font-face { font-family: 'Oswald'; font-style: regular; font-weight: 400; src: url("./fonts/VT323-Regular.ttf") format('truetype'); }
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: #000000;
  background: var(--background);
  font-family: Oswald, Helvetica, sans-serif;
  font-weight: 400;
  font-size: x-large;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@keyframes popUp {
  0% { transform: scale(0.5); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

.animate-pop {
  animation: popUp 1s ease forwards;
}

@keyframes slideIn {
  0% { transform: translateY(50%); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

.animate-slide {
  animation: slideIn 1.8s ease forwards;
}

@keyframes bounceIn {
  0% { transform: translateY(100%); opacity: 0; }
  50% { opacity: 1; transform: translateY(-20%); }
  100% { transform: translateY(0); }
}

.animate-bounce {
  animation: bounceIn 1s ease forwards;
}

@keyframes wave {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px); /* Adjust height of the wave */
  }
}

.animate-wave {
  animation: wave 1s ease-in-out infinite; /* Adjust timing and duration as needed */
}
